
  .card {
    background-color: #FF4655;  /* Color de fondo oscuro */
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    width: 250px;  /* Ancho de la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    ;
  }
  
  .card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card h3 {
    color: #ecf0f1;  /* Color del texto blanco */
    margin: 10px 0;
  }
  
  .card h3:first-child {
    margin-top: 20px;  /* Ajusta el margen superior del primer título */
  }
  
  .card h3::after {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #3498db;  /* Color azul claro */
    margin: 8px 0;
  }
  
  /* Otros estilos adicionales según tu preferencia */
  .text{
    margin-right: 10px;
  }