@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.card {
  display: flex;
  justify-content: center;
  background-color: #FF4655;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  width: 370px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s; /* Agrega transición para el efecto de volteo */
}



.card .img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.5s; /* Agrega transición para el efecto de volteo */
}




.text{
  margin-right: 10px;
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 1.5rem;

}


 

  
  
  